@import url("https://fonts.googleapis.com/css2?family=Carlito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Carlito", sans-serif;
  transition: all 0.1s ease;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
